@import '../style/colors';
@import '../style/mixin';

.pandaui-body-frozen {
    overflow: hidden !important;
}

.pandaui-dialog {
    position: fixed;
    z-index: 2000;
    top: 50%;
    left: 16px;
    right: 16px;
    transform: translate3d(0, -50%, 0);
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 12px;
    overflow: hidden;
    max-height: 90%;
}

.pandaui-dialog__hd {
    padding: 20px 20px 8px;
}

.pandaui-dialog__title {
    font-weight: 400;
    font-size: 18px;
}

.pandaui-dialog__bd {
    padding: 0 20px 10px;
    min-height: 40px;
    font-size: 15px;
    line-height: 1.3;
    text-align: center;
    word-break: break-all;
    word-wrap: break-word;
    color: #999999;
    max-height: calc(90vh - 150px);
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
}

.pandaui-dialog__bd:first-child {
    padding: 32px 20px;
    color: #353535;
}

.pandaui-dialog__ft {
    position: relative;
    line-height: 48px;
    font-size: 18px;
    display: flex;
}

.pandaui-dialog__ft:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #D5D5D6;
    color: #D5D5D6;
    transform-origin: 0 0;
    transform: scaleY(0.5);
}

.pandaui-dialog__btn {
    display: block;
    flex: 1;
    color: $themeColor;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
    cursor: pointer;
}

.pandaui-dialog__btn:active {
    background-color: #EEEEEE;
}

.pandaui-dialog__btn:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-left: 1px solid #D5D5D6;
    color: #D5D5D6;
    transform-origin: 0 0;
    transform: scaleX(0.5);
}

.pandaui-dialog__btn:first-child:after {
    display: none;
}

.pandaui-dialog__btn_default {
    color: #353535;
}

.pandaui-dialog__btn_primary {
    color: $themeColor;
}

@media screen and (min-width: 352px) {
    .pandaui-dialog {
        width: 320px;
        margin: 0 auto;
    }
}

.pandaui-dialog-transition {
    &-enter {

        .pandaui-mask {
            opacity: 0;
        }

        .pandaui-dialog {
            opacity: 0;
            transform: translate3d(0, -50%, 0) scale(0.7);
        }

        &-active {

            .pandaui-mask {
                opacity: 1;
                transition: opacity .3s;
            }

            .pandaui-dialog {
                opacity: 1;
                transform: translate3d(0, -50%, 0) scale(1);
                transition: all .3s;
            }
        }
    }

    &-exit {

        .pandaui-mask {
            opacity: 1;
        }

        .pandaui-dialog {
            opacity: 1;
            transform: translate3d(0, -50%, 0) scale(1);
        }

        &-active {

            .pandaui-mask {
                opacity: 0;
                transition: opacity .3s;
            }

            .pandaui-dialog {
                opacity: 0;
                transform: translate3d(0, -50%, 0) scale(0.9);
                transition: all .3s;
            }
        }
    }
}