//patch before weui
.weui-skin_android {
    .weui-actionsheet_toggle {
        opacity: 1 !important;
        top: 50% !important;
        bottom: auto !important;
    }

    .weui-actionsheet {
        opacity: 0;
        top: 150%;
        bottom: 0;
    }
}

.weui-actionsheet.active {
    transition: none;
}

.components-actionsheet {
    &-enter {
        .weui-mask {
            opacity: 0;
        }

        .weui-actionsheet {
            transform: translate3d(0, 100%, 0);
        }

        &-active {
            .weui-mask {
                opacity: 1;
                transition: opacity .3s;
            }

            .weui-actionsheet {
                transform: translate3d(0, 0, 0);
                transition: transform .3s;
            }
        }
    }

    &-exit {
        .weui-mask {
            opacity: 1;
        }

        .weui-actionsheet {
            transform: translate3d(0, 0, 0);
        }

        &-active {
            .weui-mask {
                opacity: 0;
                transition: opacity .3s;
            }

            .weui-actionsheet {
                transform: translate3d(0, 100%, 0);
                transition: transform .3s;
            }
        }
    }
}