$themeColor: #13C7CD;
$themeHover: rgb(91, 210, 214);
$yellowColor: #FCBF06;
$redColor: #FE5757;
$fontBlue: #35BA9D;
$greenColor: #65C63B;
$defaultColor: #0b0b0b;
$default2Color: #8a8a8a;
$bodyColor: #EEEEF3;
$orangeColor: #F89F75;
$linearBgColor: linear-gradient(90deg, rgba(14, 194, 205, 1), rgba(37, 219, 206, 1));

$baseFontSize: 16px;