@font-face {
    font-family: 'iconfont-pandaui';
    /* project id 1223732 */
    src: url('//at.alicdn.com/t/font_1223732_1jby6nh2af8.eot');
    src: url('//at.alicdn.com/t/font_1223732_1jby6nh2af8.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_1223732_1jby6nh2af8.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_1223732_1jby6nh2af8.woff') format('woff'),
        url('//at.alicdn.com/t/font_1223732_1jby6nh2af8.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_1223732_1jby6nh2af8.svg#iconfont-pandaui') format('svg');
}

.iconfont-pandaui {
    font-family: "iconfont-pandaui" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-loading:before {
    content: "\e6cd";
}

.icon-success:before {
    content: "\e6af";
}