@import '../style/colors';

.pandaui-button-height {
    height: 58px;
}

.pandaui-button {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    font-size: 16px;
    color: #fff;
    background: $themeColor;
    outline: none;
    appearance: none;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &.linear {
        background: $linearBgColor;
    }

    &.disabled,
    &:disabled,
    &.loading {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, .3);
        }

        color: rgba(255, 255, 255, 0.8);
    }

    &.fixed {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }

    &.loading .loading-box {
        display: inline-flex;
        margin-right: 10px;
        animation: pandaui-mobile-button-loading 1s infinite both linear;

        .icon-loading {
            display: inline-flex;
            height: 16px;
            width: 16px;
            background: url(./loading.svg) center center/cover no-repeat;
        }
    }
}


@keyframes pandaui-mobile-button-loading {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}