@import '../style/colors';

.pandaui-button-height {
    height: 58px;
}

.pandaui-button {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    font-size: 16px;
    color: #fff;
    background: $themeColor;
    outline: none;
    appearance: none;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &.linear {
        background: $linearBgColor;
    }

    &.disabled,
    &:disabled,
    &.loading {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, .3);
        }

        color: rgba(255, 255, 255, 0.8);
    }

    &.fixed {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }
}