.pandaui-avatar {
    display: flex;
    position: relative;
    border-radius: 100%;
    cursor: pointer;

    i {
        flex: 1;
        overflow: hidden;
    }

    &.default {
        i {
            background: url(./default_avatar.png) center center/cover no-repeat;
        }
    }

    &.vip::before {
        content: '';
        position: absolute;
        bottom: 1px;
        right: -1px;
        width: 35%;
        height: 35%;
        max-width: 20px;
        max-height: 20px;
        background: url(./vip.png) center center/cover no-repeat;
    }

    img {
        width: 100%;
        display: block;
    }
}