.weui-toptips_default {
    background-color: #B2B2B2;
}

.weui-toptips_info {
    background-color: #586C94;
}

.weui-toptips_primary {
    background-color: #1AAD19;
}

.app-toptips {
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    overflow: hidden;

    .weui-toptips {
        display: block !important;
        z-index: 2000 !important;
    }
}

.components-toptips-message {
    &-enter {
        .weui-toptips {
            opacity: 0;
            transform: translate3d(0, -50%, 0);
        }

        &-active {
            .weui-toptips {
                opacity: 1;
                transform: translate3d(0, 0, 0);
                transition: all .3s;
            }
        }
    }

    &-exit {
        .weui-toptips {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }

        &-active {
            .weui-toptips {
                opacity: 0;
                transform: translate3d(0, -50%, 0);
                transition: all .3s;
            }
        }
    }
}